<div class="center">
  <h1>My Ideas</h1>
</div>

<div id="ideas" class="center">
  <% @ideas.each do |idea| %>
    <%= idea.name %>
    <%= idea.description %>
  <% end %>
<%= link_to 'New Idea', new_idea_path %>
</div>
