<div class="center">
  <h1>My Ideas</h1>
</div>

<div id="ideas">
  <% @ideas.each_with_index do |idea, index| %>
  <h5><%= link_to "Idea #{index + 1}", idea_path(index + 1) %> </h5>
  <ul>
  <li>Name: <%= idea.name %></li>
  <li>Description: <%= idea.description %></li>
  </ul>
  <% end %>
<%= link_to 'New Idea', new_idea_path %>
</div>
